@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: #f5f6fa;
}
		
.wrapper .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
    font-size: 40px;
	margin: 80px 0 5px;
    height: 80px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 20px 25px;
	border-bottom: 2px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 20px;
	position: relative;
}
.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

.cont {
	position: absolute;
	left: 245px;
	width: 84%;
	height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}


